<!DOCTYPE html>
<html ng-app="app" ng-controller="fileController" ng-init="init()">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/custom.css">
<script type="text/javascript" src="js/lib/jquery.js"></script>
<script type="text/javascript" src="js/lib/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="js/lib/angular.js"></script>
<script type="text/javascript" src="js/lib/angular-ngroute.js"></script>
<script type="text/javascript" src="js/lib/ui-bootstrap-tpls-0.13.0.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/fileController.js"></script>
<script type="text/javascript" src="js/loginController.js"></script>
<script type="text/javascript" src="js/settingsController.js"></script>

<link rel="icon" type="image/gif" href="icon.jpeg" />

<title>Pokazywarka</title>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="logo" href="{{appName}}" target="_self" class="navbar-brand toolbar-item">Pokazywarka</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <li id="shortcutsBtn" class="dropdown toolbar-item"><a class="dropdown-toggle"
                        data-toggle="dropdown" href="#" role="button">Na skróty<span class="caret"></span>
                    </a>
                        <ul class="dropdown-menu">
                            <li class="shortcut-dropdown" ng-repeat="root in roots"><a href="?path={{root}}">{{root}}</a></li>
                        </ul></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li id="loginBtn" class="toolbar-item" ng-show="!user"><a href="" ng-click="login()">Zaloguj</a></li>
                    <li id="userLbl" class="toolbar-item" ng-show="user"><a>Witaj, {{user}} </a></li>
                    <li id="logsBtn" class="toolbar-item" ng-show="admin"><a href="{{getLogsUrl()}}"
                        target="_blank">Logi</a></li>
                    <li id="settingsBtn" class="toolbar-item" ng-show="admin"><a href="" ng-click="settings()">Ustawienia</a></li>
                    <li id="logoutBtn" class="toolbar-item" ng-show="user"><a href="" ng-click="logout()">Wyloguj</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <ul class="nav nav-pills">
            <li class="path-breadcrumb" ng-repeat="path in folders track by path.name"
                ng-attr-id="{{path.name  === actualFolder? 'actualFolder': ''}}" ng-class="{disabled: path.disabled}"><a
                ng-href="{{path.disabled ? '' : '?path='+path.path}}">{{path.name}}/</a></li>
        </ul>
        <h2>{{actualFolder}}/ :</h2>
        <div class="modal-body">
            <form name="form">
                <table class="table table-striped table-hover content-table">
                    <thead>
                        <tr>
                            <th>Nazwa pliku</th>
                            <th>Rozmiar</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="file in files track by file.name">
                            <td class="fileName"><a class="nounderline" ng-href="{{getFileURL(file)}}"
                                ng-attr-target="{{file.file ? '_self' :undefined}}">{{file.name}}</a></td>
                            <td class="fileSize">{{file.size}}</td>
                            <td class="downloadBtn"><a ng-show="file.file" class="download-button" target="_blank"
                                ng-href="{{getFileURL(file)+ '&download=true'}}"><img src="icons/download.png"></img></a>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</body>

</html>
