<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Settings popup</title>
</head>
<div class="modal-header">
    <div class="modal-body settings">
        <div class="container">
            <h2>Ustawienia</h2>
            <form name="settingsForm">
                <div class="form-group row" ng-repeat="setting in settings">
                    <label for="setting-{{setting.name}}" class="col-sm-4 col-form-label">{{setting.name}}</label>
                    <div class="col-sm-4">
                        <input id="setting-{{setting.name}}" name="{{setting.name}}" class="form-control"
                            ng-model="setting.value" type="text">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-2">
                            <button class="btn form-control btn-warning" ng-click="save()">Zapisz</button>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn form-control btn-info" ng-click="close()">Zamknij</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
