<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">

    <display-name>Pokazywarka</display-name>

    <servlet>
        <servlet-name>ResourceServlet</servlet-name>
        <servlet-class>lulewiczg.contentserver.web.servlets.ResourceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResourceServlet</servlet-name>
        <url-pattern>/rest/files</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShortcutsServlet</servlet-name>
        <servlet-class>lulewiczg.contentserver.web.servlets.ShortcutsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShortcutsServlet</servlet-name>
        <url-pattern>/rest/roots</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>lulewiczg.contentserver.web.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/rest/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>lulewiczg.contentserver.web.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/rest/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SettingsServlet</servlet-name>
        <servlet-class>lulewiczg.contentserver.web.servlets.SettingsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SettingsServlet</servlet-name>
        <url-pattern>/rest/settings</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ContextServlet</servlet-name>
        <servlet-class>lulewiczg.contentserver.web.servlets.ContextServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContextServlet</servlet-name>
        <url-pattern>/rest/context</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ErrorServlet</servlet-name>
        <servlet-class>lulewiczg.contentserver.web.servlets.ErrorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ErrorServlet</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>UrlLoginFilter</filter-name>
        <filter-class>lulewiczg.contentserver.web.filters.UrlLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UrlLoginFilter</filter-name>
        <url-pattern>/rest/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>lulewiczg.contentserver.web.filters.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/rest/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>ResourceFilter</filter-name>
        <filter-class>lulewiczg.contentserver.web.filters.ResourceFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ResourceFilter</filter-name>
        <url-pattern>/rest/files/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>lulewiczg.contentserver.web.filters.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/rest/settings</url-pattern>
        <url-pattern>/rest/context</url-pattern>
    </filter-mapping>

    <session-config>
        <session-timeout>0</session-timeout>
    </session-config>

    <error-page>
        <location>/error</location>
    </error-page>
    <listener>
        <listener-class>lulewiczg.contentserver.web.listeners.ContextListener</listener-class>
    </listener>
</web-app>
